body {
   @extend %quik-400;
   font-size: 18px;
   color: $default;
}

body,
html {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;
}

a {
   font-size: 18px;
   color: $accent;
   @extend %quik-400;

}

.title {
   font-size: 40px;
   @extend %quik-500;
   text-transform: uppercase;
   color: $title;
   text-align: center;
}